<div class="note-layer">
  <div class="note-edit">
    <div class="note-edit-title">验证密码</div>
    <form method="post">
      <table class="note-edit-table">
        <?php if(isset($tips)): ?>
        <tr>
          <td colspan="2"><?=$tips?></td>
        </tr>
        <?php endif; ?>
        <tr>
          <td class="note-edit-table-w">
            输入密码：
            <input class="note-edit-pwd" type="password" name="password" placeholder="6个字符以内">
          </td>
          <td>
            <input class="note-edit-submit" type="submit" value="验证">
            <input class="note-edit-cancel" type="button" value="取消">
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>